.loader {
    margin: auto;
    border: 20px solid #ce3741;
    border-radius: 50%;
    border-top: 20px solid #445c83;
    width: 100px;
    height: 100px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}